<div class="container">
    <div class="row">
        <div class="form_bg">
            <form #form="ngForm" (ngSubmit)="registerUser(form)">
                <h2 class="text-center">Registration page</h2>
                <br/>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="First Name" name="firstname" required ngModel>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Last Name" name="lastname" required ngModel>
                </div>
                <div class="form-group">
                    <!-- <select (change)="onSelect($event.target.value)" [(ngModel)]="selectedCountry.id" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let country of countries" [ngValue]={ {country.id}}>
                            {{country.name}}
                        </option>
                    </select> -->

                    <select name="country" class="form-control" id="country" [(ngModel)]="selectedCountry" >
                        <option *ngFor="let country of countries" value="{{country.name}}">
                            {{country.name}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="emailId" placeholder="Email" name="emailId" email required ngModel #emailId="ngModel">
                    <span class="help-bpx" *ngIf="emailId.touched && !emailId.valid ">Please enter the Email Value</span>
                </div>
                <div class="form-group">
                </div>
                <br/>
                <div class="align-center">
                    <button type="submit" class="btn btn-default" id="register" [disabled]="!form.valid">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>